* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #616161;
}
.headers_wrap{
  background-color: #ececec;
}
header {
  background-color: #ececec;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
header a {
  margin-left: 2rem;
  text-decoration: none;
  color: #333;
}
header a:hover {
  text-decoration: underline;
}
.main_wrap {
  width: 50%;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}
main {
  flex: 4;
  margin-top: 2rem;
}
.main_image-div img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  display: block;
  margin-bottom: 1.5rem;
}
main h2,
main p {
  margin-bottom: 1.5rem;
}
aside {
  flex: 1;
  padding: 1rem;
  margin-top: 2rem;
  border: 1rem solid #ececec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem;
  height: 60vh;
}
.aside_image img {
  width: 100%;
  height: 6rem;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: 0.5s ease;
}

.aside_image img:hover {
  width: 105%;
}

footer {
  color: #c9c9c9;
  padding: 3rem 0;
  background-color: #24248b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,
h2 {
  color: rgb(36, 36, 139);
}

header p,
aside p {
  color: rgb(90, 90, 238);
}
footer p:nth-child(1) {
  font-weight: bold;
}
